<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Blake3" />
      <package pattern="dotnet-sonarscanner" />
      <package pattern="wix" />
      <package pattern="MSTest" />
      <package pattern="MSTest.*" />
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
